* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: #009688;
    padding: 15px 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffe082;
}

/* HERO */
.hero {
    height: 90vh;
    background: url("bggimg.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text-bg {
    background: rgba(0,0,0,0.6);
    padding: 50px;
    text-align: center;
    color: white;
    border-radius: 10px;
    transition: transform 0.5s;
}

.hero-text-bg:hover {
    transform: scale(1.05);
}

.btn {
    background: #009688;
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #00796b;
}

section {
    padding: 70px 80px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

/* BOX GRIDS */
.about-box, .highlight-box, .dest-box, .pkg-box, .price-box, .guide-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* CARDS */
.about-item, .highlight, .dest, .pkg, .price-card, .guide {
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    transition: 0.4s;
}

.dest img, .pkg img, .price-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.about-item:hover,
.highlight:hover,
.dest:hover,
.pkg:hover,
.price-card:hover,
.guide:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.price-card span,
.pkg span,
.highlight span,
.guide span {
    display: block;
    margin-top: 10px;
    color: #009688;
    font-weight: bold;
}

/* CONTACT */
.contact {
    text-align: center;
}

.contact a {
    color: #009688;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background: #009688;
    color: white;
    text-align: center;
    padding: 15px;
}
